// FONTS
$main-font-family: Roboto, sans-serif;

// COLORS

$main-text-color:#2C2C2C;
$yellow-color:#FFE550;
$nav-link-color:#000000;
$footer-placeholder-color:#505050;
$greenbtn-color:#BBF330;
$greenbtnhover-color:#B5FF00;
$darkgreen-color:#7EB101;
$borderbtnhover-color:#597D00;
$menushadow-color:0px,4px rgba(105, 105, 105, 0.1);
$menubgd-color:  #FEFEFE;


// CARD_SET
$set-gap:32px;
$set-item:1;

//  BREAKPOINTS
$mob: 480px;
$mob-only: 767px;
$tab: 768px;
$desk: 1280px;

 // ANIMATIONS
 $transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
