<section class="customers section">
    <div class="container customers__container">
      <h2 class="section__title customers__title">What our Customers Say</h2>
      <p class="section__descr customers__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <ul class="customers__list">
        <li class="customers__item">
          <svg width="101" height="16" class="icon-stars">
            <use href="./images/icons.svg#icon-stars"></use>
          </svg>

          <p class="customers__comment">
            “The Best app I have used to order food in a while, so many options
            to choose from too, I would recommend to a freind, No questions
            asked”
          </p>
          <div class="customers__content">
            <img
              src="./images/customers/customers-man.jpg"
              alt="customers-man"
              width="48"
              height="48"
              class="customers__img"
            />
            <div class="customers__info">
              <p class="customers__name">Sumith Shah</p>
              <p class="customers__position">Some Dude</p>
            </div>
          </div>
        </li>
        <li class="customers__item">
          <svg width="101" height="16" class="icon-stars">
            <use href="./images/icons.svg#icon-stars"></use>
          </svg>
          <p class="customers__comment">
            “The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from this
            app”
          </p>
          <div class="customers__content">
            <img
              src="./images/customers/customers-woman.jpg"
              alt="customers-woman"
              width="48"
              height="48"
              class="customers__img"
            />
            <div class="customers__info">
              <p class="customers__name">Sumith Shah</p>
              <p class="customers__position">Some Dude</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
