<section class="favourites section" id="menu">
  <div class="container favourites__container">
    <h2 class="section__title favourites__title">Some of Our Favorites</h2>
    <p class="section__descr favourites__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favourites__list">
      <li class="favourites__item">
        <a
          href=""
          target="_blank"
          rel="noreferrer, noopener"
          class="favourites__link"
        >
          <picture>
            <source
              srcset="
                ./images/favourites/mobile/gamburger.webp    224w,
                ./images/favourites/mobile/gamburger@2x.webp 448w
              "
              sizes="(max-width: 767px) 224px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/mobile/gamburger.jpg    224w,
                ./images/favourites/mobile/gamburger@2x.jpg 448w
              "
              sizes="(max-width: 767px) 224px, 100vw"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/tablet/gamburger.webp    268w,
                ./images/favourites/tablet/gamburger@2x.webp 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/tablet/gamburger.jpg    268w,
                ./images/favourites/tablet/gamburger@2x.jpg 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/desktop/gamburger.webp    315w,
                ./images/favourites/desktop/gamburger@2x.webp 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/desktop/gamburger.jpg    315w,
                ./images/favourites/desktop/gamburger@2x.jpg 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/jpeg"
            />
            <img
              src="./images/favourites/gamburger.png"
              alt="gamburger"
              class="favourites__img"
            />
          </picture>
        </a>
      </li>
      <li class="favourites__item">
        <a
          href=""
          target="_blank"
          rel="noreferrer, noopener"
          class="favourites__link"
        >
          <picture>
            <source
              srcset="
                ./images/favourites/mobile/pasta.webp    224w,
                ./images/favourites/mobile/pasta@2x.webp 448w
              "
              sizes="(max-width: 767px) 224px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/mobile/pasta.jpg    224w,
                ./images/favourites/mobile/pasta@2x.jpg 448w
              "
              sizes="(max-width: 767px) 224px, 100vw"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/tablet/pasta.webp    268w,
                ./images/favourites/tablet/pasta@2x.webp 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/tablet/pasta.jpg    268w,
                ./images/favourites/tablet/pasta@2x.jpg 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/desktop/pasta.webp    315w,
                ./images/favourites/desktop/pasta@2x.webp 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/desktop/pasta.jpg    315w,
                ./images/favourites/desktop/pasta@2x.jpg 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/jpeg"
            />
            <img
              src="./images/favourites/pasta.png"
              alt="pasta"
              class="favourites__img"
            />
          </picture>
        </a>
      </li>
      <li class="favourites__item">
        <a
          href=""
          target="_blank"
          rel="noreferrer, noopener"
          class="favourites__link"
        >
          <picture>
            <source
              srcset="
                ./images/favourites/mobile/pizza.webp    224w,
                ./images/favourites/mobile/pizza@2x.webp 448w
              "
              sizes="(max-width: 767px) 224px, 100vw"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/mobile/pizza.jpg    224w,
                ./images/favourites/mobile/pizza@2x.jpg 448w
              "
              sizes="(max-width: 767px) 224px, 100vw"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/tablet/pizza.webp    268w,
                ./images/favourites/tablet/pizza@2x.webp 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/tablet/pizza.jpg    268w,
                ./images/favourites/tablet/pizza@2x.jpg 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/desktop/pizza.webp    315w,
                ./images/favourites/desktop/pizza@2x.webp 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/desktop/pizza.jpg    315w,
                ./images/favourites/desktop/pizza@2x.jpg 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/jpeg"
            />
            <img
              src="./images/favourites/pizza.png"
              alt="pizza"
              class="favourites__img"
            />
          </picture>
        </a>
      </li>
      <li class="favourites__item">
        <a
          href=""
          target="_blank"
          rel="noreferrer, noopener"
          class="favourites__link"
        >
          <picture>
            <source
              srcset="
                ./images/favourites/tablet/chicken.webp    268w,
                ./images/favourites/tablet/chicken@2x.webp 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/tablet/chicken.jpg    268w,
                ./images/favourites/tablet/chicken@2x.jpg 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/desktop/chicken.webp    315w,
                ./images/favourites/desktop/chicken@2x.webp 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/desktop/chicken.jpg    315w,
                ./images/favourites/desktop/chicken@2x.jpg 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/jpeg"
            />
            <img
              src="./images/favourites/chicken.png"
              alt="chicken"
              class="favourites__img"
            />
          </picture>
        </a>
      </li>
      <li class="favourites__item">
        <a
          href=""
          target="_blank"
          rel="noreferrer, noopener"
          class="favourites__link"
        >
          <picture>
            <source
              srcset="
                ./images/favourites/tablet/salat.webp    268w,
                ./images/favourites/tablet/salat@2x.webp 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/tablet/salat.jpg    268w,
                ./images/favourites/tablet/salat@2x.jpg 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/desktop/salat.webp    315w,
                ./images/favourites/desktop/salat@2x.webp 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/desktop/salat.jpg    315w,
                ./images/favourites/desktop/salat@2x.jpg 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/jpeg"
            />
            <img
              src="./images/favourites/salat.png"
              alt="salat"
              class="favourites__img"
            />
          </picture>
        </a>
      </li>
      <li class="favourites__item">
        <a
          href=""
          target="_blank"
          rel="noreferrer, noopener"
          class="favourites__link"
        >
          <picture>
            <source
              srcset="
                ./images/favourites/tablet/borshch.webp    268w,
                ./images/favourites/tablet/borshch@2x.webp 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/tablet/borshch.jpg    268w,
                ./images/favourites/tablet/borshch@2x.jpg 536w
              "
              sizes="(min-width: 768px) 268px"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/favourites/desktop/borshch.webp    315w,
                ./images/favourites/desktop/borshch@2x.webp 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favourites/desktop/borshch.jpg    315w,
                ./images/favourites/desktop/borshch@2x.jpg 630w
              "
              sizes="(min-width: 1280px) 315px"
              type="image/jpeg"
            />
            <img
              src="./images/favourites/borshch.png"
              alt="borshch"
              class="favourites__img"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
