<!--footer-->

<footer class="footer">
  <div class="container">
    <a href="" class="logo">
      <img class="logo__img" width="" height="" />
    </a>
  </div>

  <!--nav-->

  <ul class="nav">
    <li class="nav__item">
      <a href="" class="nav__link" rel="noreferrer noopener">Home</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" rel="noreferrer noopener">About</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" rel="noreferrer noopener">Service</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" rel="noreferrer noopener">Menu</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" rel="noreferrer noopener">Contact</a>
    </li>
  </ul>

  <!--footer-form-->
  <div class="footer__form">
    <h3 class="footer__title">Subscribe</h3>
    <form action="">
      <label class="footer__label">
        <input class="footer__input" type="email" name="email" />
      </label>
      <button class="footer__button main-btn" type="button">Subscribe</button>
      <p class="footer__text">
        By subscribing you agree to with our
        <a
          class="footer__link footer__link--main"
          href=""
          target="_blank"
          rel="noreferrer noopener"
          >Privacy Policy</a
        >
      </p>
    </form>

    <!--Privacy Policy link-->
    <div class="privacy">
      <!--privasy для оформлення, посталю флекс-->
      <ul class="footer__list list">
        <li class="footer__item item">
          <a href="" class="footer__link link" rel="noreferrer noopener"
            >Privacy Policy</a
          >
        </li>
        <li class="footer__item item">
          <a href="" class="footer__link link" rel="noreferrer noopener"
            >Terms of Service</a
          >
        </li>
        <li class="footer__item item">
          <a href="" class="footer__link link" rel="noreferrer noopener"
            >Cookies Settings</a
          >
        </li>
      </ul>

      <p class="footer__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
