<!--header-->
<header class="header">
  <div class="container">
    <a class="header__logo" href="" target="_blank" rel="noreferrer noopener">
      <svg class="header__icon" width="" height="">
        <use></use></svg
    ></a>
    <!--mobile-btn-->
    <button class="menu__button" type="button">
      <svg class="menu__button--open" width="40px" height="40px">
        <use></use>
      </svg>
    </button>
    <ul class="header__list">
      <li class="header__item">Home</li>
      <li class="header__item">About</li>
      <li class="header__item">Service</li>
      <li class="header__item">Menu</li>
      <li class="header__item">Contact</li>
    </ul>

    <button class="header__dutton" type="button">Order Now</button>
  </div>
</header>
