<!--header-->
<header class="header">
  <div class="container">
    <a class="logo" href="" target="_blank" rel="noreferrer noopener">
      <img class="logo__img" width="66px" height="52px"
    /></a>
    <!--mobile-btn-->
    <button class="menu__button" type="button">
      <svg class="menu__button--open" width="28px" height="28px">
        <use class="menu__button--open"></use>
        <use class="menu__button--close"></use>
      </svg>
    </button>
    <ul class="nav">
      <li class="nav__item">
        <a href="" class="nav__link" rel="noreferrer noopener">Home</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link" rel="noreferrer noopener">About</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link" rel="noreferrer noopener">Service</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link" rel="noreferrer noopener">Menu</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link" rel="noreferrer noopener">Contact</a>
      </li>
    </ul>

    <button class="header__btn main-btn" type="button">Order Now</button>
  </div>
</header>
