
<header class="header section" data-header>
    <div class="container header-container">
        <a href="./index.html" class="logo">
<img src="./images/logo/logo.png" alt="logo" width="66" height="52" class="logo__img">
        </a>

<header class="header section">
  <div class="container header-container">
    <a href="./index.html" class="logo">
      <img
        src="./images/logo/logo.png"
        alt="logo"
        width="66"
        height="52"
        class="logo__img"
      />
    </a>


    <div class="header__content">
      <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#service" class="nav__link">Service</a>
          </li>
          <li class="nav__item"><a href="#menu" class="nav__link">Menu</a></li>
          <li class="nav__item">
            <a href="#contact" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="main-btn header__btn" data-modal-open>
        Order Now
      </button>
    </div>
    <!-- MOBILE-MENU -->
    <button
      type="button"
      class="menu__button menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="28" height="28" class="icon-menu">
        <use href="./images/icons.svg#icon-menu-open"></use>
      </svg>
    </button>
    <div class="menu-container js-menu-container" id="mobile=menu">
      <button
        type="button"
        class="js-close-menu menu-toggle menu__button menu__button--close"
      >
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
      <nav class="mobile__nav">
        <ul class="mobile__list">
          <li class="mobile__item">
            <a href="#home" class="mobile__link">Home</a>
          </li>
          <li class="mobile__item">
            <a href="#about" class="mobile__link">About</a>
          </li>
          <li class="mobile__item">
            <a href="#service" class="mobile__link">Service</a>
          </li>
          <li class="mobile__item">
            <a href="#menu" class="mobile__link">Menu</a>
          </li>
          <li class="mobile__item">
            <a href="#contact" class="mobile__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
