<section class="hero section">
  <div class="hero__container container">
    <h1 class="hero__title section__title">
      Enjoy Your Favorite Food From Anywhere
    </h1>
    <p class="hero__descr section__dscr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero__button main-btn" type="button">Order Now</button>
  </div>
  <div class="hero__wrap"><picture> </picture></div>
</section>
