<!--Backdrop-->

<div class="backdrop is-hidden" data-modal>
  <div class="backdrop__modal">
    <button class="backdrop__btn" type="button" data-modal-close>
      <svg class="backdrop__btn-icon" width="24px" height="24px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!--Form-modal-->
    <form class="form">
      <strong class="form__title">Order Form</strong>

      <span class="form__text">Name</span>
      <label class="form__label">
        <input
          class="form__input"
          name="Name"
          type="text"
          placeholder="Your name"
          required
          minlength="3"
          maxlength="25"
        />
        <span class="form__notification">
          <svg class="form__icon" width="12" height="12">
            <use
              class="form__icon-eror"
              href="./images/icons.svg#icon-warning2"
            ></use></svg
          >The name must be between 3 and 25 characters
        </span>
      </label>

      <span class="form__text">Phone number</span>
      <label class="form__label">
        <input
          class="form__input"
          name="Phone"
          type="tel"
          placeholder="(+38_) _ _ _  _ _  _ _"
          required
          pattern="+38[7-9]{2}-[0-9]{3}-[0-9]{4}"
          value="+38"
          minlength="13"
          maxlength="13"
        />
        <span class="form__notification">
          <svg class="form__icon" width="12" height="12">
            <use
              class="form__icon-eror"
              href="./images/icons.svg#icon-warning2"
            ></use>
          </svg>
          This phone must be in the format +38 099 000 00 00
        </span>
      </label>

      <span class="form__text">E-mail</span>
      <label class="form__label">
        <input
          class="form__input"
          name="Email"
          type="email"
          placeholder="example@gmail.com"
          required
        />
        <span class="form__notification">
          <svg class="form__icon" width="12" height="12">
            <use
              class="form__icon-eror"
              href="./images/icons.svg#icon-warning2"
            ></use></svg
          >Not a valid email address (example@email.com)
        </span>
      </label>

      <button class="form__button main-btn" type="submit">Send</button>
      <svg class="warning-icon" width="156px" heigth="54px">
        <use href="./images/icons.svg#icon-warning21"></use>
      </svg>
    </form>
  </div>
</div>

<script src="./js/modal.js"></script>
