<section class="offerings">
  <div class="offerings__thumb">
    <picture></picture>
  </div>
  <div class="offerings__container container">
    <h2 class="offerings__title">What’s Special About Our Offerings</h2>
    <p class="offerings__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings__list list">
      <li class="offerings__item">
        <svg class="offerings__icon"><use></use></svg>
        <h3 class="offerings__list-title">Fasest Delivery</h3>
        <p class="offerings__list-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings__item">
        <svg class="offerings__icon"><use></use></svg>
        <h3 class="offerings__list-title">Easy To Order</h3>
        <p class="offerings__list-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button type="button">Order Now</button>
    <button type="button">Read More</button>
  </div>
</section>
