<section class="offerings offerings__overlay" id="about">
  <div class="offerings__container container">
    <div class="offerings__thumb">
      <picture><img src="#" alt="Apple" /></picture>
    </div>
    <div class="offerings__container container">
      <h2 class="offerings__title section__title">
        What’s Special About Our Offerings
      </h2>
      <p class="offerings__descr section__dscr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__list list">
        <li class="offerings__item">
          <svg class="offerings__icon"><use></use></svg>
          <h3 class="offerings__subtitle">Fasest Delivery</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <svg class="offerings__icon"><use></use></svg>
          <h3 class="offerings__subtitle">Easy To Order</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="offerings__btn main-btn" type="button">Order Now</button>
      <a
        class="offerings__link"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        >Read More <svg class="offerings__mark"><use></use></svg
      ></a>
    </div>
  </div>
</section>
