<section class="subscribe section">
    <div class="subscribe__overlay">
    <div class="container subscribe__container">

        <h2 class="section__title subscribe__title">Subscribe To Get Special Offers</h2>
        <p class="section__descr subscribe__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim
            in eros elementum tristique.</p>
        <form class="subscribe__form">
            <input class="subscribe__input" 
            type="email"
            placeholder="Enter your email"
            required>
            <svg class="subscribe__icon" width="12" height="12">
                <use class="subscribe__icon-eror" href="./images/icons.svg#icon-warning"></use>
            </svg>
            <span class="subscribe__notification">Not a valid email address (example@email.com)</span>
         
            <button class="subscribe__button main-btn" type="submit">
                Subscribe
            </button>
        </form>
</div>
</div>
</section>

<!-- <label class="contact-form-group">
    <input class="contact-form-input" type="text" name="user-name" placeholder="Antony Black" required minlength="3" />
    <span class="contact-form-label">Имя*</span>
    <svg class="contact-form-icon" width="20" height="20">
        <use class="contact-form-warning" href="./images/icons.svg#icon-warning"></use>
        <use class="contact-form-success" href="./images/icons.svg#icon-success"></use>
    </svg>
    <span class="contact-form-notfication">Укажите минимум 3 символа</span>
</label> -->