.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $backdrop-bg-color;
  z-index: 100;
  transition: opacity $transition, visibility $transition;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white-color;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    transition: background-color $transition;
    &:hover,
    &:focus {
      background-color: $greenbtnhover-color;
    }
  }

  &.is-hidden .backdrop__modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    max-width: 320px;
    width: 100%;
    height: 449px;
    background-color: $yellow-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    opacity: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: visibility $transition, transform $transition;
    @media screen and (min-width: 768px) {
      max-width: 458px;
    }
  }
}

.form {
  text-align: center;

  &__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__text {
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    margin-bottom: 2px;
  }

  &__label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__input {
    width: 100%;
    border: 1px solid $darkgreen-color;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-left: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: transparent;
    transition: opacity $transition, border-color $transition,
      transform $transition;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.01em;
      color: #c4c4c4;
    }
  }

  &__input:required:valid:not(:placeholder-shown) {
    border-color: $darkgreen-color;
  }

  &__input:required:invalid:not(:placeholder-shown) {
    border-color: $warning-red-color;
  }

  &__input:invalid:required:not(:placeholder-shown) ~ &__notification {
    opacity: 1;
    transform: translate(-50%, 15px);
  }
  &__input:invalid:required:not(:placeholder-shown) ~ &__icon {
    opacity: 1;
    transform: scale(1);
  }
  &__input:invalid:required:not(:placeholder-shown) ~ .warning-icon {
    opacity: 1;
  }

  &:invalid:focus-within [type='submit'] {
    border-color: $warning-red-color;
    transition: border-color $transition;
  }
  &:focus-within [type='submit'] {
    border-color: $darkgreen-color;
  }

  &:invalid:focus-within .warning-icon {
    transition: opacity $transition;
    opacity: 1;
  }

  &__notification {
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 15px);
    transform-origin: center;
    opacity: 0;
    font-size: 10px;
    line-height: 150%;
    color: $warning-red-color;

    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
    }
  }
  &__icon {
    fill: $warning-red-color;
    margin-right: 4px;
  }

  &__button {
    position: relative;
    margin-top: 32px;
    background: $white-color;
    border: 2px solid $darkgreen-color;
    border-radius: 30px;
    padding: 10px 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: background-color $transition;
    &:hover,
    &:focus {
      background-color: $greenbtn-color;
    }
  }
  .warning-icon {
    opacity: 0;
    width: 156px;
    height: 54px;
    position: absolute;
    bottom: 68px;
    left: 82px;

    @media screen and (min-width: 768px) {
      left: 152px;
    }
  }
}

@media screen and (max-height: 500px) {
  .backdrop__modal {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
