.footer {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  //mobile screen
  background-image: url('../images/footer/mobile/img1@1x_sm.png'),
    url('../images/footer/mobile/img2@1x_sm.png'),
    url('../images/footer/mobile/img3@1x_sm.png');

  background-repeat: no-repeat;
  background-position: top right, 0px 137px, bottom center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/footer/mobile/img1@2x_sm.png'),
      url('../images/footer/mobile/img2@2x_sm.png'),
      url('../images/footer/mobile/img3@2x_sm.png');
  }

  //tablet
  @media screen and (min-width: 768px) {
    padding: 100px 0;
    background-image: url('../images/footer/tablet/img7@1x_md.png'),
      url('../images/footer/tablet/img5@1x_md.png'),
      url('../images/footer/tablet/img6@1x_md.png'),
      url('../images/footer/tablet/img4@1x_md.png'),
      url('../images/footer/tablet/img1@1x_md.png'),
      url('../images/footer/tablet/img2@1x_md.png'),
      url('../images/footer/tablet/img3@1x_md.png');

    background-position: top right, left bottom, left 153px bottom,
      left 214px bottom, bottom left 314px, bottom right 94px, bottom right;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/footer/tablet/img7@1x_md.png'),
        url('../images/footer/tablet/img5@2x_md.png'),
        url('../images/footer/tablet/img6@2x_md.png'),
        url('../images/footer/tablet/img4@2x_md.png'),
        url('../images/footer/tablet/img1@2x_md.png'),
        url('../images/footer/tablet/img2@2x_md.png'),
        url('../images/footer/tablet/img3@2x_md.png');
    }
  }

  //desktop
  @media screen and (min-width: 1280px) {
    background-image: url('../images/footer/desktop/img4@1x_lg.png'),
      url('../images/footer/desktop/img3@1x_lg.png'),
      url('../images/footer/desktop/img5@1x_lg.png'),
      url('../images/footer/desktop/img8@1x_lg.png'),
      url('../images/footer/desktop/img1@1x_lg.png'),
      url('../images/footer/desktop/img2@1x_lg.png'),
      url('../images/footer/desktop/img6@1x_lg.png'),
      url('../images/footer/desktop/img7@1x_lg.png');
    background-position: left 340px bottom, left 450px bottom, left 53px bottom,
      left 216px bottom, left 280px bottom, bottom right 282px,
      bottom right 118px, bottom right;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/footer/desktop/img4@1x_lg.png'),
        url('../images/footer/desktop/img3@2x_lg.png'),
        url('../images/footer/desktop/img5@2x_lg.png'),
        url('../images/footer/desktop/img8@2x_lg.png'),
        url('../images/footer/desktop/img1@2x_lg.png'),
        url('../images/footer/desktop/img2@2x_lg.png'),
        url('../images/footer/desktop/img6@2x_lg.png'),
        url('../images/footer/desktop/img7@2x_lg.png');
    }
  }

  .container &__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 24px;
    padding-top: 62px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
      padding-left: 33px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 33px;
      padding-top: 100px;
      padding-bottom: 183px;
    }
  }

  &__desktop {
    margin-bottom: 60px;
    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: space-between;
    }
  }

  & .nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 28px;
    }
  }
  & .nav__link {
    padding: 0;
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 81px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      gap: 114px;
      align-items: center;
    }
    @media screen and (min-width: 1280px) {
      gap: 148px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    .footer__form-container {
      display: flex;
      gap: 12px;
      align-items: baseline;
    }
  }
  &__form {
    position: relative;
  }
  &__input {
    margin-bottom: 20px;
    border: 0.854167px solid $yellow-color;
    border-radius: 30px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 42px;
    width: 100%;

    &::placeholder {
      font-size: 12px;
      line-height: calc(18 / 12);
      color: $footer-placeholder-color;
    }

    @media screen and (min-width: 768px) {
      justify-content: center;
      width: 279px;
    }
  }

  &__notification {
    display: inline-block;
    width: 100%;

    position: absolute;
    bottom: 91px;
    left: 140px;
    transform: translate(-50%, 15px);
    transform-origin: center;
    opacity: 0;

    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: $warning-red-color;
    text-align: center;

    @media screen and (min-width: 768px) {
      bottom: 30px;
      left: 140px;
    }
    @media screen and (min-width: 1280px) {
      bottom: 32px;
      left: 140px;
    }
  }
  &__icon {
    margin-right: 4px;
  }

  &__input:required:valid:not(:placeholder-shown) {
    border-color: $darkgreen-color;
  }

  &__input:required:invalid:not(:placeholder-shown) {
    border-color: $warning-red-color;
  }

  &__input:invalid:required:not(:placeholder-shown) ~ &__notification {
    opacity: 1;
    transform: translate(-50%, 15px);
  }
  &__input:invalid:required:not(:placeholder-shown) ~ &__icon {
    opacity: 1;
    transform: scale(1);
  }
  &__button {
    text-align: right;
    margin-left: auto;
    padding: 11px 22px;
    border: 0.854167px solid $darkgreen-color;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 20px;
    transition: background-color $transition;
    &:hover,
    &:focus {
      background-color: $yellow-color;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
      margin-left: 0;
    }
  }

  &__link--main {
    text-decoration: underline;
    color: $darkgreen-color;
  }
  &__policy {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      gap: 40px;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      justify-content: space-between;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 33px;
    padding: 0;
  }
  &__item {
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12 / 10);
  }
  &__link {
    height: 100%;
    white-space: nowrap;
    color: $darkgreen-color;
  }
  &__text {
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12 / 10);

    @media screen and (min-width: 768px) {
      margin-right: 0;
      font-size: 12px;
      line-height: calc(14 / 12);
    }
  }
}
.privacy-text {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  display: block;
  color: #2c2c2c;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-right: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.footer__button{
  animation: changeBgcolor 2000ms infinite alternate-reverse cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

@keyframes changeBgcolor{
  0% {
    background-color: $greenbtn-color;
  }
  50%{
    background-color: $menubgd-color;
  }
  100%{
    background-color: $yellow-color;
  }
}
