.header-container{
    display: flex;
   
}

.nav__list{
    @extend %list;
    display: flex;
    gap: 28px;

}

 
.nav__link{
    @extend %link;
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 14px;
    line-height: calc(16 / 14);
    transition: $transition;

    &:hover,
    &:focus{
        color:$greenbtn-color;
        text-decoration: underline;
    }
    
}

.header__content{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__btn{
   
    max-height: 32px;
    max-width: 98px;
    margin-left: 28px;
    padding: 6px 17px;
    background-color: $greenbtn-color;
    border: none;
}


