



.header-container{
    display: flex;
   
}

.nav__list{
    @extend %list;
    display: flex;
    gap: 28px;

}

 
.nav__link{
    @extend %link;
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 14px;
    line-height: calc(16 / 14);
    
}

.header__content{
    display: flex;
    margin-left: auto;
}

.header__btn{
   
    min-width: 100px;
    margin-left: 28px;
    padding: 6px 17px;
    background-color: $greenbtn-color;
    border: none;
}


