.hero {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  @include mq(tab) {
    padding-bottom: 120px;
  }
  @include mq(desk) {
    margin-top: 72px;
    padding-top: 14px;
    padding-bottom: 42px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    @include mq(tab) {
      flex-direction: row;
      align-items: start;
      gap: 32px;
    }
    @include mq(desk) {
      align-items: center;
    }
  }
  &__thumb {
    display: flex;
    flex-direction: column;
    gap: 28px;
    @include mq(tab) {
      gap: 44px;
    }
    @include mq(desk) {
      max-width: 502px;
      gap: 28px;
    }
  }
  &__bloc {
    display: flex;
    flex-direction: column;
    gap: 28px;
    @include mq(tab) {
      gap: 40px;
    }
  }
  &__title {
    margin-bottom: 0;
    @include mq(tab) {
      max-width: 537px;
    }
    @include mq(desk) {
      display: flex;
      align-items: baseline;
      margin-right: auto;
    }
  }
  &__descr {
    @include mq(mob-only) {
      font-size: 14px;
      line-height: calc(21 / 14);
    }
    @include mq(tab) {
      max-width: 336px;
    }
  }
  &__button {
    margin-right: auto;
    background-color: $greenbtn-color;
    border: none;
    padding: 6px 17px;
    transition-property: background-color;
    transition: $transition;
    &:hover,
    &:focus {
      background-color: $greenbtnhover-color;
    }
  }
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 14px;
    border-style: solid;
    border-color: $yellow-color;
    border-radius: 50%;
    min-width: 336px;
    overflow: hidden;
    cursor: pointer;

    transition-property: border-color;
    transition: $transition;

    &:hover,
    &focus {
      border-color: $greenbtn-color;
    }
    @include mq(desk) {
      border-width: 26px;
    }
  }
  &__slider {
    display: none;
    position: relative;
    @include mq(tab-only) {
      position: absolute;
      left: 52%;
      top: 28%;
      display: flex;
    }
    @include mq(desk) {
      display: block;
      margin-left: auto;
      height: min-content;
      margin-top: 0;
    }
  }
  &__icon-left {
    position: absolute;
    width: 28px;
    height: 34px;
    top: 54%;
    right: 93%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    cursor: pointer;

    transition-property: fill;
    transition: $transition;

    @include mq(desk) {
      width: 48px;
      height: 40px;
      right: 95%;
    }
    &:hover,
    &:focus {
      fill: $darkgreen-color;
    }
  }
  &__icon-right {
    position: absolute;
    width: 28px;
    height: 34px;
    top: 54%;
    left: 93%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    cursor: pointer;

    transition-property: fill;
    transition: $transition;

    @include mq(desk) {
      width: 48px;
      height: 40px;
      left: 95%;
    }
    &:hover,
    &:focus {
      fill: $darkgreen-color;
    }
  }
}
.swiper {
  @include mq(tab) {
    width: 298px;
    height: 298px;
  }
  @include mq(desk) {
    width: 528px;
    height: 528px;
  }
}
.hero__icon-right.swiper-button-next {
  right: -10px;
  width: 48px;
  height: 40px;
  @include mq(tab-only) {
    width: 34px;
    height: 28px;
  }
}
.hero__icon-left.swiper-button-prev {
  left: -10px;
  width: 48px;
  height: 40px;
  @include mq(tab-only) {
    width: 34px;
    height: 28px;
  }
}
