.offerings {
  font-size: 14;
  line-height: calc(16 / 14);

  &__container {
    position: relative;
    padding-bottom: 60px;

    @include mq(tab) {
      padding-bottom: 100px;
    }
    @include mq(desk) {
      align-items: center;
      display: flex;
      padding-bottom: 75px;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      z-index: -100;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../images/backgraund-offerings_s.svg');

      @include mq(tab) {
        background-image: url('../images/backgraund-offerings_m.svg');
        top: -150;
        min-height: 1140px;
      }
      @include mq(desk) {
        background-image: url('../images/backgraund-offerings_l.svg');
        top: -180;
        min-height: 856px;
      }
    }
  }
  &__thumb {
    margin-left: auto;
    margin-right: auto;
    padding-top: 41px;
    margin-bottom: 60px;

    @include mq(tab) {
      margin-bottom: 60px;
      width: 704px;
    }
    @include mq(desk) {
      width: 550px;
      height: 604px;
      margin-left: 0;
      margin-right: auto;
    }
  }
  &__block {
    @include mq(tab) {
    }
    @include mq(desk) {
    }
  }
  &__title {
    margin-bottom: 28px;
    max-width: 526px;
    @include mq(mob-only) {
      max-width: 280px;
    }
  }
  &__descr {
    margin-bottom: 28px;
    max-width: 526px;
    @include mq(mob-only) {
      font-size: 14;
      max-width: 272px;
    }
    @include mq(tab) {
      font-size: 16px;
      line-height: calc(19 / 16);
    }
    @include mq(desk) {
      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }
  &__list {
    @extend %list;
    @include flex-set(28px);
    margin-bottom: 28px;

    @include mq(tab) {
      @include flex-set(116px);
      margin-bottom: 40px;
    }
  }
  &__item {
    max-width: 252px;
    @include flex-basis(1);

    @include mq(tab) {
      @include flex-basis(2);
    }
  }
  &__icon {
    margin-bottom: 8px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: calc(21 / 18);
    margin-bottom: 16px;
    @include mq(desk) {
      font-size: 14px;
      line-height: calc(24 / 17);
    }
  }
  &__text {
    @include mq(desk) {
      font-size: 14px;
      line-height: calc(21 / 14);
    }
  }
  &__wrap {
    @include flex-set(20px);
    @include flex-basis(2);
  }
  &__btn {
    min-width: 130px;
    padding: 10px 32px;
    border-color: $darkgreen-color;
    transition-property: border-color;
    transition: $transition;

    &:hover,
    &:focus {
      border-color: $borderbtnhover-color;
    }
  }
  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: fill, color;
    transition: $transition;

    &:hover,
    &:focus {
      color: $darkgreen-color;
      fill: $darkgreen-color;
    }
    @include mq(desk) {
      display: none;
    }
  }
  &__mark {
    margin-left: 3px;
  }
}
