.subscribe {
  position: relative;
  padding-top: 52px;
  padding-bottom: 60px;

  @include mq(tab) {
    padding-top: 82px;
    padding-bottom: 100px;
  }
  @include mq(desk) {
    padding-top: 46px;
    padding-bottom: 100px;
  }

  &__img {
    position: absolute;
    top: -10%;

    @include mq(tab) {
      position: absolute;
      top: -20%;
      right: 5%;
      width: 281px;
      height: 136px;
    }
    @include mq(desk) {
      position: absolute;
      top: -10%;
      width: 608px;
      height: 266px;
    }
  }

  &__title {
    max-width: 280px;
    @include mq(tab) {
      max-width: 656px;
    }
  }
  &__descr {
    margin-bottom: 40px;
    max-width: 280px;
    @include mq(tab) {
      max-width: 656px;
      margin-bottom: 24px;
    }
  }

  
  &__form {
    display: block;
    position: relative;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 20px;
    }
  }

  &__input {
    width: 100%;
    height: 42px;
    border: 0.854167px solid $yellow-color;
    background-color: inherit;
    border-radius: 30px;
    padding: 12px;
    font-size: 12px;
    line-height: calc(18 / 12);
    color: $main-text-color;
    outline: transparent;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 279px;
    }
    @media screen and (min-width: 1280px) {
      width: 395px;
    }

    &::placeholder {
      font-size: 12px;
      line-height: calc(18 / 12);
      color: $footer-placeholder-color;
    }
  }

  /*&__input:focus,
&__input:hover,
&__input:not(:placeholder-shown) {
    border-color: $greenbtnhover-color;
}*/

  &__input:required:valid:not(:placeholder-shown) {
    border-color: $darkgreen-color;
  }

  &__input:required:invalid:not(:placeholder-shown) {
    border-color: $warning-red-color;
  }

  &__input:invalid:required:not(:placeholder-shown) ~ &__notification {
    opacity: 1;
    transform: translate(-50%, 15px);
  }
  &__input:invalid:required:not(:placeholder-shown) ~ &__icon {
    opacity: 1;
    transform: scale(1);
  }
  &__notification {
    display: inline-block;
    width: 100%;

    position: absolute;
    bottom: 62px;
    left: 140px;
    transform: translate(-50%, 15px);
    transform-origin: center;
    opacity: 0;

    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: $warning-red-color;
    text-align: center;
    @media screen and (min-width: 768px) {
      bottom: 20px;
      left: 140px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 12px;
      bottom: 15px;
      left: 190px;
    }
  }

  &__icon {
    margin-right: 4px;
  }

  &__button {
    text-align: right;
    margin-left: auto;
    padding: 11px 22px;
    border-color: transparent;
    border-radius: 30px;
    background-color: $greenbtn-color;
    margin-bottom: 20px;
    transition: background-color $transition;
    @media screen and (min-width: 768px) {
      margin-left: 0;
    }

    &:hover,
    &:focus {
      background-color: $greenbtnhover-color;
    }
  }
}
.subscribe__button{
  animation: rotateY 1000ms infinite alternate-reverse cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

 @keyframes rotateY {
   0% {
     transform: perspective(200px) rotateY(20deg);
   }

   100% {
     transform: perspective(200px) rotateY(-20deg);
   }
 }
 
