.subscribe {
  position: relative;
  padding-top: 52px;
  padding-bottom: 60px;

  @include mq(tab) {
    padding-top: 82px;
    padding-bottom: 100px;
  }
  @include mq(desk) {
    padding-top: 46px;
    padding-bottom: 100px;
  }
}

.subscribe__img {
  position: absolute;
  top: -10%;

  @include mq(tab) {
    position: absolute;
    top: -20%;
    right: 5%;
    width: 281px;
    height: 136px;
  }
  @include mq(desk) {
    position: absolute;
    top: -10%;
    width: 608px;
    height: 266px;
  }
}

.subscribe__title {
  max-width: 280px;
  @include mq(tab) {
    max-width: 656px;
  }
}
.subscribe__descr {
  margin-bottom: 40px;
  max-width: 280px;
  @include mq(tab) {
    max-width: 656px;
    margin-bottom: 24px;
  }
}

.subscribe__list {
  @extend %list;
}

.subscribe__form {
  display: block;
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
  }
}

.subscribe__input {
  width: 100%;
  height: 42px;
  border: 0.854167px solid #ffe550;
  background-color: inherit;
  border-radius: 30px;
  padding: 12px;
  font-size: 12px;
  line-height: calc(18 / 12);
  color: $main-text-color;
  outline: transparent;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 279px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }

  &::placeholder {
    font-size: 12px;
    line-height: calc(18 / 12);
    color: $footer-placeholder-color;
  }
}

/*.subscribe__input:focus,
.subscribe__input:hover,
.subscribe__input:not(:placeholder-shown) {
    border-color: $greenbtnhover-color;
}*/

.subscribe__input:required:valid:not(:placeholder-shown) {
  border-color: $darkgreen-color;
}

.subscribe__input:required:invalid:not(:placeholder-shown) {
  border-color: red;
}

.subscribe__input:invalid:required:not(:placeholder-shown)
  ~ .subscribe__notification {
  opacity: 1;
  transform: translate(-50%, 15px);
}
.subscribe__input:invalid:required:not(:placeholder-shown) ~ .subscribe__icon {
  opacity: 1;
  transform: scale(1);
}
.subscribe__notification {
  display: inline-block;
  width: 100%;

  position: absolute;
  bottom: 62px;
  left: 140px;
  transform: translate(-50%, 15px);
  transform-origin: center;
  opacity: 0;

  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: red;
  text-align: center;
  @media screen and (min-width: 768px) {
    bottom: 20px;
    left: 140px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 12px;
    bottom: 15px;
    left: 190px;
  }
}

.subscribe__icon {
  margin-right: 4px;
}

.subscribe__button {
  text-align: right;
  margin-left: auto;
  padding: 11px 22px;
  border-color: transparent;
  border-radius: 30px;
  background-color: #bbf330;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    background-color: $greenbtnhover-color;
  }
}
